#container-page-create {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: calc(
        var(--tg-viewport-safe-area-inset-top) + var(--tg-viewport-content-safe-area-inset-top)
    );
    padding-inline: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .container-create-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 1.5rem;
        border-radius: var(--border-radius);
        background-color: var(--secondary-color);
        cursor: pointer;
        transition: all 0.2s ease;
        width: 100%;
        max-width: 24rem;

        &:active {
            transform: scale(0.98);
            background: var(--secondary-color);
        }

        > div {
            width: 8rem;
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;

            > span {
                font-size: 5rem;
            }
        }

        > h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 500;
            text-align: center;
        }
    }
}
