*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    line-height: normal;
    overscroll-behavior: none;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html:dir(ltr),
body:dir(ltr) {
    font-family:
        "SF Pro Display",
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

html,
body,
#root {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative;
    min-height: max(var(--ptg-viewport-height), 100vh);
    pointer-events: auto !important;
    overflow: hidden;
    overflow-x: hidden !important;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

ul,
ol {
    list-style: none;
}

a,
button,
i,
svg {
    touch-action: none;
}

div[class*="shimmer"] {
    margin: 0 !important;
    padding: 0 !important;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper {
    z-index: 0;
}

.vaul-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(var(--black-rgb), 0.7) !important;
    backdrop-filter: blur(8px);
}

.vaul-content {
    height: fit-content;
    position: fixed;
    inset-inline: 0;
    bottom: 0;
    background-color: var(--bg-color);
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;

    > div {
        padding: 1rem 1rem 0;
        position: relative;

        .btn-close-modal {
            width: 1.75rem;
            height: 1.75rem;
            background-color: var(--secondary-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: absolute;
            top: 1rem;
            inset-inline-end: 1rem;
            touch-action: none;
            cursor: pointer;

            > svg {
                height: 1.175rem;
                opacity: 0.3;
            }
        }
    }
}

#tc-widget-root {
    z-index: 10009;
}

body > canvas {
    z-index: 10011 !important;
}

.animate__fadeIn {
    --animate-duration: 0.75s;
}

.swiper-slide {
    img {
        pointer-events: none;
    }
}
