#container-page-requests.deals-page {
    .request-card.read-only {
        cursor: pointer;

        &:hover {
            background-color: var(--secondary-color);
            border-color: var(--secondary-color);
        }

        &:active {
            transform: scale(0.99);
        }
    }
    .deal-emoji-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 1;
    }
    .role-badge {
        padding: 0.3125rem 0.625rem;
        border-radius: var(--border-radius);
        background: var(--secondary-color);
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        opacity: 0.7;
    }
}
