#container-page-error,
#container-section-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    gap: 2rem;

    > h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    > p {
        font-size: 1rem;
        text-align: center;
        line-height: 2;
        color: rgba(var(--text-color-rgb), 0.6);
    }

    > svg {
        font-size: 6rem;
    }
}

#container-section-error {
    gap: 0;

    > h1 {
        padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
    }

    > p {
        font-size: 1rem;
    }

    > svg {
        font-size: 6rem;
    }
}
