#container-bottom-bar {
    flex-shrink: 0;
    background-color: var(--secondary-color);
    border-top: 1px solid rgba(var(--text-color-rgb), 0.125);
    padding-bottom: calc(
        var(--tg-viewport-safe-area-inset-bottom) +
            var(--tg-viewport-content-safe-area-inset-bottom)
    );

    > div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: flex-end;
        justify-items: center;
        padding: 0.25rem 1rem 0.5rem;

        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 0.125rem;
            opacity: 0.6;
            padding: 0 1rem;
            transition: opacity 0.2s ease;
            max-width: calc((100vw - 160px) / 4);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.active {
                opacity: 1;

                > div > svg {
                    color: var(--accent-color);
                }

                > span {
                    color: var(--accent-color);
                }
            }

            > div {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                overflow: hidden;
                margin: 0.3125rem 0 0.25rem;

                > svg {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    overflow: hidden;
                    transition: color 0.2s ease;
                    &.create-icon {
                        scale: 1.5;
                    }
                }

                > div {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    overflow: hidden;
                }
            }

            > span {
                font-size: 0.675rem;
                line-height: 0.75rem;
                font-weight: 500;
                transition: color 0.2s ease;
            }
        }
    }
}
